*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    line-height: 1.5rem;
    font-size: 1.05rem;
    
}

body {
    background-color:  #d8f3e0;
}

.main-container {
    width: 100%;

}

nav {
    margin: auto;
    padding: 1.75em 1.75em;
}

ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    padding: 0.75em 2em;
    border-radius: 2em;
    margin: 0 auto;
}

ul li{
    display: flex;
    color: inherit;
    align-items: center;
}

.fa-solid {
    margin-right: 0.5em;
    color: white;
    background-color: #44965c;
    padding: 0.25em;
    border-radius: 0.35em;
}

.section-1 {
    color:  #075a20;
    font-weight: 500;
    text-align: center;
}

.div-title {
    display: flex;
    justify-content: center;
    padding: 1em 0;
    align-items: center;

}

.div-title .fa-leaf {

    font-size: 3rem;
    background-color:  #d8f3e0;
    margin-right: -0.1em;
}

.section-div1 h1 {
    font-size: 1.5rem;
    margin: 0 0.75em;
}

.section-div1 p {
    font-size: 1.25rem;
    display: block;
    padding: 0 1em;
    text-align: center;
}



.section-2 {
    width: 90%;
    height: 25em;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    justify-content: end;
    color: white;
    background-image: url(./images/green-city.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1.25em;
    padding-bottom: 1em;
    padding-left: 1em;

}

.section-2 h1 {
    font-size: 1.25rem;
}

.section-2 h2 {
    font-size: 1rem;
}

.section-3 {
    display: flex;
    text-align: left;
    width: 90%;
    gap: 1em;
    margin: 0 auto;
    justify-content: center;
    padding: 1em 0 1em;
}

.section3-div {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    padding: 2em;
    border-radius: 1em;
    background-color: white;
    border: none;
    width: 33%;
   
}

.section3-div .fa-solid {
    max-width: 1.75em;
    max-height: 1.75em;
}

.section3-div div {
    display: flex;
}

.section3-div p {
    
    padding: 1.75em 0 0.25em;

}

.bottom-card {
    background-color: #075a20;
    color: white;
    width: 90%;
    margin: 1em auto;
    padding: 2em 1em;
    border-radius: 0.74em;
}

.bottom-card h2 {
    margin-bottom: 1em;

}

.bottom-card p{
    margin-left: 0.25em;
}

.leaf, .bullseye {
    font-size: 2rem;
}

.section2-dicas {
    display: flex;
    flex-wrap: wrap;
    margin: 1em auto;
    width: 100%;
}

.section2-dicas-div {
    color: #075a20;
    width: 100%;
    flex-basis: 40%;
    flex-grow: 1;
}

.dicas-title h1 {
    font-size: 1.5rem;
}

.section1-dicas {
    font-size: 1.25rem;
}

.dicas-photo {
    width: 100%;
    background-image: url(./images/caminhao_reciclagem.jpg);
}

.mapa-photo {
    width: 90%;
    background-image: url(./images/wroclaw-odra.jpg);
}

.mapa-photo h1 {
    text-shadow: 0.025em 0.025em #010112;
}


.section3-dicas h3 {
    margin: auto;
    text-shadow: 0.025em 0.025em #010112;
}

.desafios-section2{
    flex-wrap: wrap;
}

.desafios-section2-div {
    flex-basis: 100%;
    flex-grow: 1;
    color:#075a20;
}

.desafios-section2-div div h3 {
    margin: 0 0 0 0.5em;
}

.desafios-section2-div p {
    margin: -1.25em 0 0 1.85em;
}

.progress-bar p {
    color: black;
    margin-left: 0;
}

.bar{
    width: 100%;
    height: 1.75em;
    background-color:#d8f3e0;
    border-radius: 1em;
    margin-top: 0.75em;
    overflow: hidden;
}

.inner-bar {
    width: 0;
    height: 100%;
    background-color: #075a20;
    transition: width 0.5s ease-in-out;
}

.mapa-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location-pin {
    margin-right: 0.25em;
}

.card-text {
    display: flex;
    flex-direction: column;
}

.card-text h4 {
    background-color: #1ca044;
    color: white;
    width: 100%;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 0.5em;
    margin-top: 1em;
}
.card-text a {
    text-decoration: none;
}

.mapa-botton-text {
    color: #075a20;
    font-weight: 700;

}

.dicas-text {
    color: white;
}

.fa-info {
    padding: 0.25rem 0.5rem;
    background-color: #4685e4;
}

#sobre-div {
    background-color: #2ba850;
    color: white;
    text-align: start;
}

.sobre-div p {
    text-align: start;
    margin-left: -0.25em;
}

.sobre-div h4 {
    margin-left: -0.25em;
}

.sobre-div ul{
    list-style-type: disc;
    /* display: flex; */
    flex-direction: column;
    align-items: start;
    background-color: #2ba850;
    color: white;
    padding-left: 3em;
}

.sobre-div div {
    margin: auto;
    text-align: center;
    /* display: flex; */
}

.sobre-div div p {
    margin: 0 auto 10%;
}

.nav-choice:hover {
    cursor: pointer;
    color:  #aa698f;
}

/* .fa-solid:hover {
    cursor: pointer;
    background-color: #b2d2bb;
} */

.nav-leaf:hover, .lamp:hover, .target:hover, .map:hover, .about:hover {
    cursor: pointer;
    background-color: #1a2c1f;

}

.sobre-ul{
    list-style: disc;
    color: white;
}

.sobre-div ul li {
    display: list-item; /* garante que o bullet apareça */
    margin-bottom: 0.5em; /* espaçamento entre itens */
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.last-div div p {
    margin: -2em 0 0;
}

.mission h4{
    margin-top: -0.5em;
    font-size: 1.25rem;
    font-weight: 500;
}

.fp-text {
    font-weight: 600;
    color: #075a20;
}

.light-green {
    color: #075a20;
}

#light-green {
    color: #075a20;
    font-weight: 400;
}



                    /* MEDIA QUERIES */


@media(max-width: 600px) {
    ul {
        width: 100%;
    }
    .hidden {
        display: none;
    }

    .section-2 h1 {
    font-size: 1rem;
    text-shadow: 0.025em 0.025em #010112;
}

    .section-2 h2 {
    font-size: 0.75rem;
    text-shadow: 0.025em 0.025em #010112;
}
    .section-3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
    .section3-div{
        width: 100%;
    }

    .section2-dicas-div {
        max-width: 90%;
    }
}

@media(max-width: 800px) {
    .mapa-sec3 {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

@media(min-width:600px) {
    .section-2 {
        width: 88%;
        height: 35em;
    }

    ul {
        width:95%;
    }

    .section-3{
        width: 92%;
    }
    .section-4{
        width: 100%;
        margin: 2em auto;
    }

    .section3-dicas {
        width: 100%;
    }
}